.hall_info_td_center {
    text-align: center;
}

.update_btn {
    margin-right: 10px;
}

#hall_info__form {
    margin-bottom: 10px;
}

.hall_info_inputs {
    width: 150px;
 }

#hall_info__find_btn {
    margin-top: 27px;
}

#hall_info__hall_number_span {
    padding: 3px;
    background-color: #ff5151;
    border-radius: 5px;
    border: 1px solid #ff5151;
}